/* //features css// */




.container-features{ 
    width: 1440px;
    height: 2368px;
    /* margin-left: 148px; */
  /* margin-right: 148px; */
}

.header h3{
    text-align: center;
    align-items: center;
    margin-top: 85px;
    margin-left: 50px;
}
.img-logo  img{
    margin-left: 200px;
}

.boxes{
    margin-left: 144px;
    margin-right: 144px;
}


.left-box-one{

    /* background-color: aqua; */
    width: 360px;
    height: 535px;
    border: 1px solid #000000;
    box-shadow: 0 0 10px var(#000000);
    border-radius: 3%;
    margin-top: 147px;
    
}
.right-box-one{
    width: 360px;
    height: 535px;
    border: 1px solid #000000;
    box-shadow: 0 0 10px var(#000000);
    border-radius: 3%;
    /* margin-top: 147px; */
    margin-left: 830px;
    margin-right: 148px;
}
.left-box-three{
    width: 360px;
    height: 535px;
    border: 1px solid #000000;
    box-shadow: 0 0 10px var(#000000);
    border-radius: 3%;
    /* margin-top: 147px; */

}
.right-box-two{

    width: 360px;
    height: 535px;
    border: 1px solid #000000;
    box-shadow: 0 0 10px var(#000000);
    border-radius: 3%;
    /* margin-top: 147px; */
    margin-left: 830px;
    margin-right: 148px;
    margin-bottom: 82px;

}


.contact-section{
    margin-top: 200px;
    /* width: 1440px; */
    height: 1240px;
  }
  .heading2{
    width: 100%;
    text-align: center;
    align-items: center;
    margin: 0px;
  }
  
  .body-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    margin-top: 100px;
    /* border: 1px solid #ddd; */
    /* border-radius: 8px; */
    max-width: 1000px;
    gap: 46px;
    margin: 0 auto;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
  
  .left-side-content, .middle1, .right-content{
    margin-top: 100px;
  } 
  .left-side-content {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    margin-left: -40px;
  }
  
  .mb-3 {
    margin-bottom: 15px;
  }
  
  .form-label {
    display: block;
    margin-bottom: 5px;
    color: #100062;
    font-size: 25px;
    font-style: bold;
  }
  
  .form-control {
    width: 443px;
    height: 68px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #FF2E00;
    border-radius: 4px;
  }
  .bttn{
    width: 197px;
    height: 48px;
    background-color: #FF2E00;
    margin-left: 120px;
    /* align-items: center; */
    /* margin-right: 914px; */
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border-color: #FF2E00;
  
  }
  
  .middle1{
    margin-left: -15px;
    height: 800px;
    width: 10px;
  }
  .line1{
    height: 700px;
  }
  /* Right content styling */
  .right-content {
    
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    /* margin-top: 140px; */
    margin-left: 25px;
  }